<h1>Movies: </h1>

<table class="table table-bordered table-striped ">
  <thead class="thead-dark ">
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Genre</th>
    <th scope="col">Release Date</th>
    <th scope="col">Director</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>

  <tr align="center " *ngFor="let movie of movies;" [routerLink]="['/edit',movie.id]" >
    <td>{{movie.name}}</td>
    <td>{{movie.genre}}</td>
    <td>{{movie.releaseDate}}</td>
    <td>{{movie.director}}</td>
    <td>{{movie.description}}</td>
  </tr>



  <!--
  <tr *ngFor="let movie of movies | async" [routerLink]="['/edit', movie]">
    <app-movie-details [movie]='movie'></app-movie-details>
  </tr> -->
  </tbody>

</table>
