<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a class="navbar-brand">Video Store</a></div>

    <ul class="navbar-nav">
  <a *ngIf="!loginService.isUserLoggedIn()" routerLink="login" class="btn btn-primary active" role="button" routerLinkActive="active">Login</a>
  <a *ngIf="loginService.isUserLoggedIn()" routerLink="movies" class="btn btn-primary active" role="button" routerLinkActive="active">List Movies</a>
  <a *ngIf="loginService.isUserLoggedIn()" routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">Add Movies</a>

  <a *ngIf="loginService.isUserLoggedIn()" routerLink="logout" class="btn btn-primary active" role="button" routerLinkActive="active"    style="float: right">Logout</a>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
