<h3>Create Movie</h3>
<div [hidden]="submitted" style="width: 300px;">

  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="movie.name" name="name">
    </div>

    <div class="form-group">
      <label for="genre">Genre</label>
      <input type="text" class="form-control" id="genre" required [(ngModel)]="movie.genre" name="genre">
    </div>

    <div class="form-group">
      <label for="releaseDate">Release Date</label>
      <input type="text" class="form-control" id="releaseDate" required [(ngModel)]="movie.releaseDate"
             name="releaseDate">
    </div>

    <div class="form-group">
      <label for="director">Director</label>
      <input type="text" class="form-control" id="director" required [(ngModel)]="movie.director" name="director">
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="movie.description"
             name="description">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Movie Added!</h4>
  <br>
  <button class="btn btn-success" (click)="newMovie()">Add Another</button>
</div>
